body {
	margin: 0;
}

.top_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2e323f;
	color: #e0e0e2;
	padding: 0 2rem;
	font-family: 'Oswald', sans-serif;
    font-size: 18px ;
    text-transform: uppercase;
    justify-content: space-between;
}

.logo {
	flex-grow: 1;
	flex-basis: 0;
}

.main_menu {
	flex-grow: 1;
	flex-basis: 0;
}

.main_menu ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.menu_item {
	color: #e0e0e2;
 text-decoration: none;
}

.counded {
 background-color: gold;
  }

.rounded {
	background-color: #a59678;
	border-radius: 100px;
	padding: 10px;
}

.logo {
 	flex-grow: 1;
 	flex-basis: 0;
 	font-family: 'Oswald', sans-serif;
 }
 







}