body {
	margin: 0;
}

.top_menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #2e323f;
	color: #e0e0e2;
	padding: 2rem;
	text-decoration: none;
}

.logo {
	flex-grow: 1;
	flex-basis: 0;
}

.main_menu {
	flex-grow: 1;
	flex-basis: 0;
}

.main_menu ul {
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.menu_item {
	color: #e0e0e2;
 text-decoration: none;
font-family: 'Oswald', sans-serif;

}

.counded {
 background-color: gold;
 







}